.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  max-width: 400px;
}

.add-task-textbox {
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--border-color);
  padding: 0 8px;
  outline: none; /* Remove focus outline */
  transition: background-color 0.3s;
  backdrop-filter: blur(10px);
  flex-grow: 1;

  &:active {
    background-color: --control-bg-highlight-1;
  }
}

.add-task-button {
  height: 40px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--border-color);;
  border-radius: 0 5px 5px 0;
  padding: 0 16px;
  border-left: 0;
  transition: background-color 0.3s;
  backdrop-filter: blur(10px);

  &:hover {
    background-color: --control-bg-highlight-1;
  }

  &:active {
    background-color: --control-bg-highlight-2;
  }
}
