:root {
  --border-color: #666666;
  --control-bg-color: #FFFFFF10;
  --control-bg-highlight-1: #FFFFFF30;
  --control-bg-highlight-2: #FFFFFF50;
}

* {
  font: 14px/1.5 'Helvetica', sans-serif;
  box-sizing: border-box;
  color: #CCCCCC;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}
